CMakeFiles/
CMakeCache.txt
Makefile
Testing
CTestTestfile.cmake
cmake_*.cmake
install_manifest.txt
*.a*
*.cbp
*.d
*.dylib
*.gcno
*.gcda
*.user
*.o
*.reject
*.so*
*~
.gdb_history
.*.swp
*.snap
*.xlog
*.log
snaps
snaps1
xlogs
xlogs1
