Source: tarantool-migrate
Priority: optional
Section: database
Maintainer: Eugene Blikh <bigbes@tarantool.org>
# cmake, tarantool-dev, libmsgpuck-dev are only needed for Lua/C and C modules
Build-Depends: debhelper (>= 9), cdbs,
               cmake (>= 2.8),
               tarantool-dev (>= 1.10.0.1),
               libmsgpuck-dev (>= 2.0.35),
               libsmall-dev (>= 1.1.70)
Standards-Version: 3.9.6
Homepage: https://github.com/tarantool/migrate
Vcs-Git: git://github.com/tarantool/migrate.git
Vcs-Browser: https://github.com/tarantool/migrate

Package: tarantool-migrate
Architecture: i386 amd64 armhf arm64
Depends: tarantool (>= 1.10.0.1), ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Templates for Tarantool modules
 A set of Lua, Lua/C and C module templates for Tarantool.
